* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* table */
    --tableWidth: 800px;
    --tableHeight: 500px;
    --tableColor: #333;
    /* rockets */
    --paddleWidth: 35px;
    --paddleHeight: 100px;
    --paddleColor: yellow;
    /* ball */
    --ballSize: 25px;
    --ballColor: white;
    /* position */
    --paddleFromEdge: 50px;
    /* animation duration */
    --animationTime: 6s;
}

.table,
.ball,
.paddle,
.result {
    position: absolute;
}

.table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--tableWidth);
    height: var(--tableHeight);
    background-color: var(--tableColor);
}

.ball {
    width: var(--ballSize);
    height: var(--ballSize);
    top: calc(50% - var(--ballSize)/2);
    left: calc(50% - var(--ballSize)/2);
    background-color: var(--ballColor);
    border-radius: 50%;
}

.paddle {
    width: var(--paddleWidth);
    height: var(--paddleHeight);
    background-color: var(--paddleColor);
}

.player {
    top: calc(50% - var(--paddleHeight)/2);
    left: var(--paddleFromEdge);
}

.ai {
    top: calc(50% - var(--paddleHeight)/2);
    right: var(--paddleFromEdge);
}

.result {
    width: 100%;
    left: 0;
    top: 10%;
    text-transform: uppercase;
    text-align: center;
    font-family: arial, sans-serif;
    color: black;
    transform: scale(0);
}